# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
out/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Eclipse
# =========================
.project
.classpath
.settings/

# =========================
# Node.js / Angular / TypeScript
# =========================
**/node_modules/
**/dist/
**/coverage/
.pnpm-store/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular cache
.angular/

# =========================
# Maven / Gradle
# =========================
target/
build/

# Maven Wrapper JAR
.mvn/wrapper/maven-wrapper.jar

# =========================
# Java
# =========================
*.class

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Environment Files
# =========================
.env
.env.*

# =========================
# Spring Boot Config
# =========================
application.properties
application.yml
application.yaml

**/application.properties
**/application.yml
**/application.yaml

application-local.properties
application-dev.properties
application-prod.properties

application-local.yml
application-dev.yml
application-prod.yml

# =========================
# Database Files
# =========================
*.db
*.sqlite

# =========================
# Temporary Files
# =========================
*.tmp
*.temp
*.swp
*.bak

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Test Reports
# =========================
surefire-reports/
failsafe-reports/