# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
out/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Eclipse
# =========================
.project
.classpath
.settings/

# =========================
# Maven / Build
# =========================
target/
build/

# Maven Wrapper JAR
.mvn/wrapper/maven-wrapper.jar

# =========================
# Java
# =========================
*.class

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Environment Files
# =========================
.env
.env.*

# =========================
# Spring Boot Config
# =========================
**/application.properties
application-local.properties
application-dev.properties

# =========================
# Database Files
# =========================
*.db
*.sqlite
*.sql

# =========================
# Temporary Files
# =========================
*.tmp
*.temp
*.swp
*.bak

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Test Reports
# =========================
surefire-reports/
failsafe-reports/