<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <bean id="paymentService"-->
<!--          class="com.bank.CreditCardPaymentService"/>-->

    <bean id="paymentService"
          class="com.bank.DebitCardPaymentService"/>

    <bean id="orderService"
          class="com.bank.OrderService">

        <constructor-arg ref="paymentService"/>

    </bean>

</beans>